<a href="/" class="header">ElbrusKino</a>
<form id="authForm" action="/login" method="POST">
  <div class="contain__auth">
    <div class="auth__header">
    <h1 class="form__title">Авторизация</h1>
    </div>
    <div class="form_group">
      <input class="form__input" type="text" name="email" placeholder="email" required>
    
    </div>
    <div class="form__group">
      <input class="form__input" type="password" name="password" placeholder="password" required>
      
    </div>
      <button class="form__button" type="submit">Войти</button>
  </div>
</form>

