<a href="/" class="header">ElbrusKino</a>
<div class="header__pers">
  <h2>Имя: {{user.name}}</h2>  
  <h2>Email: {{user.email}}</h2> 
  <div class="videography">
    <a href="/myMovies">Моя видеотека</a>
  </div> 
</div> 
  {{!-- <a href="/profile/edit"><button class="btn4">Редактировать профиль</button></a> --}}
