<a href="/" class="header">ElbrusKino</a>
<form action="/reg" method="POST">
  <div class="header__pers">
<h1 class="form__title" style="    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;">Авторизация</h1>
    <input class="input" type="text" name="name" placeholder="name" required>  
    <input class="input" type="text" name="email" placeholder="email" required>  
    <input class="input" type="password" name="password" placeholder="password" required>
    <button class="regBtn" type="submit">Зарегистрироваться</button>
  </div>
    
</form>


{{!-- <a href="/" class="header">ElbrusKino</a> --}}
{{!-- <div class="header__pers">
  <h2>Имя: {{user.name}}</h2>  
  <h2>Email: {{user.email}}</h2>  --}}
